<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.univaq.ttep.perspectives.TwoTowersPerspective"
            icon="icons/releng_gears.gif"
            id="it.univaq.TTEP.perspectives.TwoTowersPerspective"
            name="TwoEagles Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.univaq.ttep.editors.aemilia.AemiliaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="aem"
            icon="icons/aem.png"
            id="it.univaq.TTEP.editors.AemiliaEditor"
            name="Aemilia Editor">
      </editor>
      <editor
            class="it.univaq.ttep.editors.performance.PerformanceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="rew"
            icon="icons/rew.png"
            id="it.univaq.TTEP.editors.performanceEditor"
            name="Performance Editor">
      </editor>
      <editor
            class="it.univaq.ttep.editors.security.SecurityEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="sec"
            icon="icons/sec.png"
            id="it.univaq.TTEP.editors.securityEditor"
            name="Security Editor">
      </editor>
      <editor
            class="it.univaq.ttep.editors.modelChecker.ModelCheckerEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="ltl"
            icon="icons/ltl.png"
            id="it.univaq.TTEP.editors.LtlEditor"
            name="LTL Editor">
      </editor>
      <editor
            class="it.univaq.ttep.editors.simulation.SimulationEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="sim"
            icon="icons/sim.png"
            id="it.univaq.ttep.editors.simulationEditor"
            name="Simulation Editor">
      </editor>
      <editor
            class="it.univaq.ttep.editors.trace.TraceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="trc"
            icon="icons/trc.png"
            id="it.univaq.ttep.editors.trace.traceEditor"
            name="Trace Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="it.univaq.TTEP.menu.seal"
               label="&amp;Seal">
            <command
                  commandId="it.univaq.TTEP.run"
                  label="&amp;Run"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="it.univaq.TTEP.perspectives.TwoTowersPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="it.univaq.TTEP.menu.twoTowers"
               label="&amp;TwoEagles">
            <menu
                  id="it.univaq.TTEP.compilerMenu"
                  label="&amp;Compiler">
               <command
                     commandId="it.univaq.TTEP.parser"
                     icon="icons/Spellcheck-16x16.png"
                     label="&amp;Parser"
                     style="push">
               </command>
               <separator
                     name="compilerGroup"
                     visible="true">
               </separator>
               <menu
                     id="it.univaq.TTEP.semanticModelSizeCalculator"
                     label="Semantic model size &amp;calculator">
                  <command
                        commandId="it.univaq.TTEP.integratedSMSC"
                        icon="icons/calculator_link.png"
                        label="&amp;Integrated"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.functionalSMSC"
                        icon="icons/calculator_edit.png"
                        label="&amp;Functional"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.performanceSMSC"
                        icon="icons/calculator_add.png"
                        label="&amp;Performance"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="it.univaq.TTEP.semanticModelGenerator"
                     label="Semantic model &amp;generator">
                  <command
                        commandId="it.univaq.TTEP.integratedSMG"
                        icon="icons/map.png"
                        label="&amp;Integrated"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.functionalSMG"
                        icon="icons/map_edit.png"
                        label="&amp;Functional"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.performanceSMG"
                        icon="icons/map_add.png"
                        label="&amp;Performance"
                        style="push">
                  </command>
               </menu>
            </menu>
            <menu
                  id="it.univaq.TTEP.modelCheckerMenu"
                  label="&amp;Model checker">
               <command
                     commandId="it.univaq.TTEP.symbolicLTL"
                     icon="icons/Magnifying-Glass-16x16.png"
                     label="&amp;Symbolic LTL"
                     style="push">
               </command>
            </menu>
            <menu
                  id="it.univaq.TTEP.equivalenceVerifierMenu"
                  label="&amp;Equivalence Verifier">
               <menu
                     id="it.univaq.TTEP.markovianBisimulationMenu"
                     label="&amp;Markovian Bisimulation">
                  <command
                        commandId="it.univaq.TTEP.strongMBEV"
                        icon="icons/medal_gold_1.png"
                        label="&amp;Strong"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.weakMBEV"
                        icon="icons/medal_silver_1.png"
                        label="&amp;Weak"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="it.univaq.TTEP.BisimulationMenu"
                     label="&amp;Bisimulation">
                  <command
                        commandId="it.univaq.TTEP.strongBEV"
                        icon="icons/medal_gold_2.png"
                        label="&amp;Strong"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.weakBEV"
                        icon="icons/medal_silver_2.png"
                        label="&amp;Weak"
                        style="push">
                  </command>
               </menu>
            </menu>
            <menu
                  id="it.univaq.TTEP.securityAnalyzerMenu"
                  label="&amp;Security Analyzer">
               <command
                     commandId="it.univaq.TTEP.nonInterference"
                     icon="icons/pill.png"
                     label="Non-i&amp;nterference analyzer"
                     style="push">
               </command>
               <command
                     commandId="it.univaq.TTEP.nonDeducibility"
                     icon="icons/rosette.png"
                     label="Non-d&amp;educibility on composition analyzer"
                     style="push">
               </command>
            </menu>
            <menu
                  id="it.univaq.TTEP.performanceEvaluatorMenu"
                  label="&amp;Performance Evaluator">
               <command
                     commandId="it.univaq.TTEP.transientProbability"
                     icon="icons/page_white_medal.png"
                     label="&amp;Transient probability distribution calculator"
                     style="push">
               </command>
               <menu
                     id="it.univaq.TTEP.sPDCMenu"
                     label="Stationary probability distribution calculator">
                  <command
                        commandId="it.univaq.TTEP.gaussianEliminationSPDC"
                        icon="icons/page_white_star.png"
                        label="&amp;Gaussian elimination"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.adaptiveSymmetricSOR_SPDC"
                        icon="icons/page_white_swoosh.png"
                        label="&amp;Adaptive symmetric SOR"
                        style="push">
                  </command>
               </menu>
               <separator
                     name="rewardBasedGroup"
                     visible="true">
               </separator>
               <command
                     commandId="it.univaq.TTEP.transientRewardBased"
                     icon="icons/page_white_text.png"
                     label="&amp;Transient reward-based measure calculator"
                     style="push">
               </command>
               <menu
                     id="it.univaq.TTEP.sRBMCMenu"
                     label="&amp;Stationary reward-based measure calculator">
                  <command
                        commandId="it.univaq.TTEP.adaptiveSymmetricSOR_SRBMC"
                        icon="icons/page_white_world.png"
                        label="&amp;Adaptive symmetric SOR"
                        style="push">
                  </command>
                  <command
                        commandId="it.univaq.TTEP.gaussianEliminationSRBMC"
                        icon="icons/page_white_wrench.png"
                        label="&amp;Gaussian elimination"
                        style="push">
                  </command>
               </menu>
               <separator
                     name="simulatorGroup"
                     visible="true">
               </separator>
               <command
                     commandId="it.univaq.TTEP.simulator"
                     icon="icons/releng_gears.gif"
                     label="&amp;Simulator"
                     style="push">
               </command>
            </menu>
            <menu
                  id="it.univaq.TTEP.architecturalAssistantMenu"
                  label="&amp;Architectural Assistant">
               <command
                     commandId="it.univaq.TTEP.compatibilityChecker"
                     label="&amp;Compatibility Checker"
                     style="push">
               </command>
               <command
                     commandId="it.univaq.TTEP.interoperabilityChecker"
                     label="&amp;Interoperability Checker"
                     style="push">
               </command>
               <command
                     commandId="it.univaq.TTEP.queueingNetworkGenerator"
                     label="&amp;Queueing network generator"
                     style="push">
               </command>
            </menu>
            <menu
                  id="it.univaq.TTEP.codeGeneratorMenu"
                  label="Code &amp;Generator">
               <command
                     commandId="it.univaq.TTEP.applet"
                     label="&amp;Applet"
                     style="push">
               </command>
               <command
                     commandId="it.univaq.TTEP.package"
                     label="&amp;Package"
                     style="push">
               </command>
               <command
                     commandId="it.univaq.TTEP.program"
                     label="P&amp;rogram"
                     style="push">
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="it.univaq.TTEP.perspectives.TwoTowersPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="it.univaq.TTEP.menu.twoTowers">
            <command
                  commandId="it.univaq.TTEP.parser"
                  icon="icons/Spellcheck-16x16.png"
                  label="Parser"
                  style="push"
                  tooltip="Parser">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.integratedSMSC"
                  icon="icons/calculator_link.png"
                  label="IntegratedSMSC"
                  style="push"
                  tooltip="Integrated semantic model size calculator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.functionalSMSC"
                  icon="icons/calculator_edit.png"
                  label="FunctionalSMSC"
                  style="push"
                  tooltip="Functional semantic model size calculator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.performanceSMSC"
                  icon="icons/calculator_add.png"
                  label="PerformanceSMSC"
                  style="push"
                  tooltip="Performance semantic model size calculator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.integratedSMG"
                  icon="icons/map.png"
                  label="IntegratedSMG"
                  style="push"
                  tooltip="Integrated semantic model generator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.functionalSMG"
                  icon="icons/map_edit.png"
                  label="FunctionalSMG"
                  style="push"
                  tooltip="Functional semantic model generator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.performanceSMG"
                  icon="icons/map_add.png"
                  label="PerformanceSMG"
                  style="push"
                  tooltip="Performance semantic model generator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.compiler">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="it.univaq.TTEP.separator.firstSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="it.univaq.TTEP.symbolicLTL"
                  icon="icons/zoom.png"
                  label="Symbolic LTL"
                  style="push"
                  tooltip="Symbolic LTL">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.modelChecker">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.strongMBEV"
                  icon="icons/medal_gold_1.png"
                  label="strongMBEV"
                  style="push"
                  tooltip="Strong Markovian Bisimulation">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.weakMBEV"
                  icon="icons/medal_silver_1.png"
                  label="weakMBEV"
                  style="push"
                  tooltip="Weak Markovian Bisimulation">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.strongBEV"
                  icon="icons/medal_gold_2.png"
                  label="strongBEV"
                  style="push"
                  tooltip="Strong Bisimulation">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.weakBEV"
                  icon="icons/medal_silver_2.png"
                  label="weakBEV"
                  style="push"
                  tooltip="Weak Bisimulation">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.nonInterference"
                  icon="icons/pill.png"
                  label="nonInterference"
                  style="push"
                  tooltip="Non-interference analyzer">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.securityAnalizer">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.nonDeducibility"
                  icon="icons/rosette.png"
                  label="nonDeducibility"
                  style="push"
                  tooltip="Non-deducibility on composition analyzer">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.securityAnalizer">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="it.univaq.TTEP.separator.secondSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="it.univaq.TTEP.transientProbability"
                  icon="icons/page_white_medal.png"
                  label="transientProbability"
                  style="push"
                  tooltip="Transient probability distribution calculator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluatorAem">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.gaussianEliminationSPDC"
                  icon="icons/page_white_star.png"
                  label="gaussianEliminationSPDC"
                  style="push"
                  tooltip="Stationary probability distribution calculator: gaussian elimination">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluatorAem">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.adaptiveSymmetricSOR_SPDC"
                  icon="icons/page_white_swoosh.png"
                  label="adaptiveSymmetricSOR_SPDC"
                  style="push"
                  tooltip="Stationary probability distribution calculator: adaptive symmetric">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluatorAem">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.transientRewardBased"
                  icon="icons/page_white_text.png"
                  label="transientRewardBased"
                  style="push"
                  tooltip="Transient reward-based measure calculator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluator">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.gaussianEliminationSRBMC"
                  icon="icons/page_white_wrench.png"
                  label="gaussianEliminationSRBMC"
                  style="push"
                  tooltip="Stationary reward-based measure calculator: gaussian elimination">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluator">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.adaptiveSymmetricSOR_SRBMC"
                  icon="icons/page_white_world.png"
                  label="adaptiveSymmetricSOR_SRBMC"
                  style="push"
                  tooltip="Stationary reward-based measure calculator: adaptive symmetric">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluator">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="it.univaq.TTEP.simulator"
                  icon="icons/releng_gears.gif"
                  label="Simulator"
                  style="push"
                  tooltip="Simulator">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="it.univaq.TTEP.definition.performanceEvaluator">
                     </reference>
                     <reference
                           definitionId="it.univaq.TTEP.definition.perspective">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="it.univaq.TTEP.separator.thirdSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="it.univaq.TTEP.run"
                  icon="icons/cog.png"
                  label="Seal"
                  style="push"
                  tooltip="Run Seal">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="it.univaq.TTEP.definition.perspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="it.univaq.ttep.preference.TwoTowersPreferencePage"
            id="it.univaq.ttep.preference"
            name="TwoEagles Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="it.univaq.TTEP.compilerCategory"
            name="Compiler">
      </category>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.parser"
            name="&amp;Parser">
      </command>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.integratedSMSC"
            name="&amp;Integrated">
      </command>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.functionalSMSC"
            name="&amp;Functional">
      </command>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.performanceSMSC"
            name="&amp;Performance">
      </command>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.integratedSMG"
            name="&amp;Integrated">
      </command>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.functionalSMG"
            name="&amp;Functional">
      </command>
      <command
            categoryId="it.univaq.TTEP.compilerCategory"
            id="it.univaq.TTEP.performanceSMG"
            name="&amp;Performance">
      </command>
      <category
            id="it.univaq.TTEP.modelCheckerCategory"
            name="Model checker">
      </category>
      <command
            categoryId="it.univaq.TTEP.modelCheckerCategory"
            id="it.univaq.TTEP.symbolicLTL"
            name="&amp;Symbolic LTL">
      </command>
      <category
            id="it.univaq.TTEP.equivalenceVerifierCategory"
            name="Equivalence Verifier">
      </category>
      <command
            categoryId="it.univaq.TTEP.equivalenceVerifierCategory"
            id="it.univaq.TTEP.weakBEV"
            name="&amp;Weak">
      </command>
      <command
            categoryId="it.univaq.TTEP.equivalenceVerifierCategory"
            id="it.univaq.TTEP.strongBEV"
            name="&amp;Strong">
      </command>
      <command
            categoryId="it.univaq.TTEP.equivalenceVerifierCategory"
            id="it.univaq.TTEP.weakMBEV"
            name="&amp;Weak">
      </command>
      <command
            categoryId="it.univaq.TTEP.equivalenceVerifierCategory"
            id="it.univaq.TTEP.strongMBEV"
            name="&amp;Strong">
      </command>
      <category
            id="it.univaq.TTEP.SecurityAnalyzerCategory"
            name="Security Analyzer">
      </category>
      <command
            categoryId="it.univaq.TTEP.SecurityAnalyzerCategory"
            id="it.univaq.TTEP.nonDeducibility"
            name="Non-d&amp;educibility on composition analyzer">
      </command>
      <command
            categoryId="it.univaq.TTEP.SecurityAnalyzerCategory"
            id="it.univaq.TTEP.nonInterference"
            name="Non-i&amp;nterference analyzer">
      </command>
      <category
            id="it.univaq.TTEP.performanceEvaluatorCategory"
            name="Performance Evaluator">
      </category>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.transientProbability"
            name="&amp;Transient probability distribution calculator">
      </command>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.adaptiveSymmetricSOR_SPDC"
            name="&amp;Adaptive symmetric SOR">
      </command>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.gaussianEliminationSPDC"
            name="&amp;Gaussian elimination">
      </command>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.transientRewardBased"
            name="&amp;Transient reward-based measure calculator">
      </command>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.adaptiveSymmetricSOR_SRBMC"
            name="&amp;Adaptive symmetric SOR">
      </command>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.gaussianEliminationSRBMC"
            name="&amp;Gaussian elimination">
      </command>
      <command
            categoryId="it.univaq.TTEP.performanceEvaluatorCategory"
            id="it.univaq.TTEP.simulator"
            name="&amp;Simulator">
      </command>
      <category
            id="it.univaq.TTEP.architecturalAssistantCategory"
            name="Architectural Assistant">
      </category>
      <command
            categoryId="it.univaq.TTEP.architecturalAssistantCategory"
            id="it.univaq.TTEP.compatibilityChecker"
            name="&amp;Compatibility Checker">
      </command>
      <command
            categoryId="it.univaq.TTEP.architecturalAssistantCategory"
            id="it.univaq.TTEP.interoperabilityChecker"
            name="&amp;Interoperability Checker">
      </command>
      <command
            categoryId="it.univaq.TTEP.architecturalAssistantCategory"
            id="it.univaq.TTEP.queueingNetworkGenerator"
            name="&amp;Queueing network generator">
      </command>
      <command
            categoryId="it.univaq.TTEP.architecturalAssistantCategory"
            id="it.univaq.TTEP.queueingNetworkSolver"
            name="&amp;Queueing network solver">
      </command>
      <category
            id="it.univaq.TTEP.codeGeneratorCategory"
            name="Code Generator Category">
      </category>
      <command
            categoryId="it.univaq.TTEP.codeGeneratorCategory"
            id="it.univaq.TTEP.program"
            name="P&amp;rogram">
      </command>
      <command
            categoryId="it.univaq.TTEP.codeGeneratorCategory"
            id="it.univaq.TTEP.package"
            name="&amp;Package">
      </command>
      <command
            categoryId="it.univaq.TTEP.codeGeneratorCategory"
            id="it.univaq.TTEP.applet"
            name="&amp;Applet">
      </command>
      <category
            id="it.univaq.TTEP.sealCategory"
            name="Seal Category">
      </category>
      <command
            categoryId="it.univaq.TTEP.sealCategory"
            id="it.univaq.TTEP.run"
            name="&amp;Run">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.univaq.ttep.handlers.Parser"
            commandId="it.univaq.TTEP.parser">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.WeakBEV"
            commandId="it.univaq.TTEP.weakBEV">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.StrongBEV"
            commandId="it.univaq.TTEP.strongBEV">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.WeakMBEV"
            commandId="it.univaq.TTEP.weakMBEV">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.StrongMBEV"
            commandId="it.univaq.TTEP.strongMBEV">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.equivalenceVerifier">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.SymbolicLTL"
            commandId="it.univaq.TTEP.symbolicLTL">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.modelChecker">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.NonDeducibility"
            commandId="it.univaq.TTEP.nonDeducibility">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.securityAnalyzer">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.NonInterference"
            commandId="it.univaq.TTEP.nonInterference">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.securityAnalyzer">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.IntegratedSMSC"
            commandId="it.univaq.TTEP.integratedSMSC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.FunctionalSMSC"
            commandId="it.univaq.TTEP.functionalSMSC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.PerformanceSMSC"
            commandId="it.univaq.TTEP.performanceSMSC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.IntegratedSMG"
            commandId="it.univaq.TTEP.integratedSMG">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.FunctionalSMG"
            commandId="it.univaq.TTEP.functionalSMG">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.PerformanceSMG"
            commandId="it.univaq.TTEP.performanceSMG">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.compiler">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.TransientProbability"
            commandId="it.univaq.TTEP.transientProbability">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluatorAem">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.AdaptiveSymmetricSOR_SPDC"
            commandId="it.univaq.TTEP.adaptiveSymmetricSOR_SPDC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluatorAem">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.GaussianEliminationSPDC"
            commandId="it.univaq.TTEP.gaussianEliminationSPDC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluatorAem">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.TransientRewardBased"
            commandId="it.univaq.TTEP.transientRewardBased">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluator">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.AdaptiveSymmetricSOR_SRBMC"
            commandId="it.univaq.TTEP.adaptiveSymmetricSOR_SRBMC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluator">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.GaussianEliminationSRBMC"
            commandId="it.univaq.TTEP.gaussianEliminationSRBMC">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluator">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.Simulator"
            commandId="it.univaq.TTEP.simulator">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.performanceEvaluator">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.CompatibilityChecker"
            commandId="it.univaq.TTEP.compatibilityChecker">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.architecturalAssistantTODO">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.InteroperabilityChecker"
            commandId="it.univaq.TTEP.interoperabilityChecker">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.architecturalAssistantTODO">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.QueuingNetworkGenerator"
            commandId="it.univaq.TTEP.queuingNetworkGenerator">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.architecturalAssistantTODO">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.Applet"
            commandId="it.univaq.TTEP.applet">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.codeGeneratorTODO">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.Package"
            commandId="it.univaq.TTEP.package">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.codeGeneratorTODO">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.Program"
            commandId="it.univaq.TTEP.program">
         <activeWhen>
            <reference
                  definitionId="it.univaq.TTEP.definition.codeGeneratorTODO">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="it.univaq.ttep.handlers.Run"
            commandId="it.univaq.TTEP.run">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="it.univaq.TTEP.definition.compiler">
         <with
               variable="activeEditorId">
            <equals
                  value="it.univaq.TTEP.editors.AemiliaEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.equivalenceVerifier">
         <with
               variable="activeEditorId">
            <equals
                  value="it.univaq.TTEP.editors.AemiliaEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.modelChecker">
         <with
               variable="activeEditorId">
            <equals
                  value="it.univaq.TTEP.editors.LtlEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.securityAnalizer">
         <with
               variable="activeEditorId">
            <equals
                  value="it.univaq.TTEP.editors.securityEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.performanceEvaluator">
         <or>
            <with
                  variable="activeEditorId">
               <equals
                     value="it.univaq.TTEP.editors.performanceEditor">
               </equals>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="it.univaq.ttep.editors.trace.traceEditor">
               </equals>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="it.univaq.ttep.editors.simulationEditor">
               </equals>
            </with>
         </or>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.perspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="it.univaq.TTEP.perspectives.TwoTowersPerspective">
            </equals>
         </with>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.performanceEvaluatorAem">
         <with
               variable="activeEditorId">
            <equals
                  value="it.univaq.TTEP.editors.AemiliaEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.architecturalAssistantTODO">
         <test
               property="TTEP.test1"
               value="false">
         </test>
      </definition>
      <definition
            id="it.univaq.TTEP.definition.codeGeneratorTODO">
         <test
               property="TTEP.test2"
               value="false">
         </test>
      </definition>
   </extension>

</plugin>
